
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-250px * 7));
  }
}
.slider {
  background: rgb(190,54,54);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 80%;
  margin: auto;
  overflow-y: hidden;
  position: relative;
  max-width: fit-content;
  justify-content: center;
}
.slider::before, .slider::after {
  
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
 animation: scroll 90s linear infinite;
  display: flex;
  flex-direction: column;
}
.slider .slide {
  height: 200px;
  width: 250px;
  overflow-y: hidden;
}

.slide{
  margin-bottom: 50px;
  border: #000000 solid 2px;
}

html{
  height: 100%;
  margin: auto;
  overflow: auto;
  
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    background-image: url('file:///C:/Users/Alex%20Tran/Downloads/wallpaperflare.com_wallpaper.jpg');
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
  }

  p{
    color:black;
  }

  .col-1 {
    background: rgb(190,54,54);
    flex: 1;
    max-width: fit-content;
    max-height: 2100px;
    
    
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 21;
    max-width: 1900px;
    
  }
  .content {
    display: flex;
    flex-direction: row;
  
    color: rgb(0, 0, 0);
    
  }
  
 
 .mainheader{
   display: flex;
   flex-direction: column;
   color: rgb(0, 0, 0);
   background-color: rgb(28,90,75)
  }

  .maincenter{
    display: flex;
      flex-direction: column;
  }

  .maincenterdiv{
      display: flex;
      padding: 5%;
  }

  .maincentertop{
    flex: 1;
    z-index: 1;
    display: flex;
  }

  .leftrighttitle{
    text-align: end;
  }

  .lefttitle{
    flex: 1;
    margin-right: 22px;
  }

  .description{
    flex: 4;
  }

  .flex-container{
    display: flex ;
    align-content: center;
    flex-direction: column;
  }

  .maincenterbottom{
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
    position: relative;
    flex-direction: row;
    justify-content:space-between;
  }

  .ytlogo{
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
    z-index: 3;
    opacity: 1;
    transition: all 2s;
  }

  .ytlogo:hover{
    opacity: 0;
    transition: all 2s;
  }

  #ytlogocard{
    display: flex;
    position: absolute;
    height:100%; 
    width: 340px;
    max-width: 340px;
    max-height: 240px;
    background-color: #ffffff;
    z-index: -1;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
    font-size: 20px;
    color: #3ca0e7;
   align-items: center;
   text-align: center;
   margin: auto;
  }

  .subscribe{
    transform: translateX(-20px)
  }

  .yt1st{
   display: flex;
   flex-direction: column;
  }

  #waw, #wwd, #ms{
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 2%;
    word-wrap: break-word;
  }

  .cardpic{
    border-radius: 2% 2% 0% 0%;
  }



  #banner{
    justify-content: center;
    
  }

  .recommendedvideos{
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  .vid{
    margin: 15px;
    border: 2px solid black ;
  }

  @font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
  }
  
  a {
    text-decoration: none;
    color: #9ca0b1;
  }
  
  .wrapper {
    text-align: center;
  }
  .wrapper h1 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #c73b3b 10%, #6d6e6e 50%, #000000 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  




  nav.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
  }
  nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
  }
  nav.primary-navigation li a {
    color: black;
  }
  nav.primary-navigation li a:hover {
    color: #3ca0e7;
  }
  nav.primary-navigation li:hover {
    cursor: pointer;
  }
  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }
  nav.primary-navigation ul li:hover > ul,
  nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
  nav.primary-navigation ul li ul li {
   
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-style: none;
  }
  nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: #3CA0E7;
  }
  
  ul li ul li a {
    transition: all 0.5s ease;
  }

  .card {
    margin: 8%;
    margin-top: 2%;
    position: relative;
    max-width: 325px;
    max-height: 275px;
    box-shadow: 0 40px 60px -6px black;
    background-color: white;
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6184a8;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .card img {
    width: 325px;
    height: 275px;
    position: relative;
  }
  
  .card-desc {
    font-size: 20px;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 1px 2%;
    background-color: white;
    transition: 0.8s ease;
  }

  .card:hover .card-desc {
    opacity: 0.9;
    height: 140%;
  }
   /*todo on the side nav bar, static iamge/video that scrolls on its own*/ 
   