html{
  height: 100%;
  margin: auto;
  overflow: scroll;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .col-1 {
    background: #3c3735;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
    border: #ffffff 5px solid ;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    
  }
  
 
 .mainheader{
   display: flex;
   flex-direction: column;
   height: 20vh;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
 
  }

  .maincenter{
    display: flex;
      background-color: rgb(255, 255, 255);
      flex: 3;
      flex-direction: column;
  }

  .maincenterdiv{
      display: flex;
      padding: 5%;
  }

  .maincentertop{
    flex: 1;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }

  .flex-container{
    display: flex ;
    align-content: center;
    flex-direction: column;
  }

  .maincenterbottom{
    flex: 1;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
    position: relative;
    
  }

  .ytlogo{
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
    z-index: 3;
    opacity: 1;
    transition: transform 2s;
  }

  .ytlogo:hover{
    transform: translate(-105%, 0px);
    transition: all 2s;
  }

  #ytlogocard{
    display: flex;
    position: absolute;
    height:100%; 
    width: 37%;
    background-color: #ffffff;
    z-index: -1;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
   align-items: center;

   text-align: center;
  }

  .recommendedvideos{
    justify-content: center;
    display: flex;
    
  }
  .vid{
    margin: 15px;
    border: 2px solid black ;
  }

  @font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
  }
  
  a {
    text-decoration: none;
    color: #9ca0b1;
  }
  
  .wrapper {
    text-align: center;
  }
  .wrapper h1 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #c73b3b 10%, #6d6e6e 50%, #000000 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  




  nav.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
  }
  nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
  }
  nav.primary-navigation li a {
    color: black;
  }
  nav.primary-navigation li a:hover {
    color: #3ca0e7;
  }
  nav.primary-navigation li:hover {
    cursor: pointer;
  }
  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }
  nav.primary-navigation ul li:hover > ul,
  nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
  nav.primary-navigation ul li ul li {
   
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-style: none;
  }
  nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: #3CA0E7;
  }
  
  ul li ul li a {
    transition: all 0.5s ease;
  }

  .card {
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    box-shadow: 0 40px 60px -6px black;
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6184a8;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .card img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .card-desc {
    font-size: 20px;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 1px 2%;
    background-color: white;
    transition: 0.8s ease;
  }

  .card:hover .card-desc {
    opacity: 0.9;
    height: 100%;
  }
  
  